.posts-page {
    background-image: url('../../assets/generalbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    min-height: 100vh; 
    padding: 20px; 
}

.posts-page h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.posts-page h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;
}
.posts-page h4 {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 40px;
}
.posts-page h3 {
  font-size: 20px;
  color: white;
  text-align: center;
}

  .posts-page .post-title,
  .posts-page .post-category,
  .posts-page .post-created-by{
    color: black;
    background-color: rgb(112, 111, 111);
    border-bottom: 3px solid white;
    text-align: center;
    border-left: 3px solid white;
    border-right: 3px solid white;
    }

    .posts-page .post-created-by {
        border-top: 3px solid white;
    }
  


  .posts-page .post-likes {
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: white;
    background-color: black; 
    text-align: center;
    padding-top: 10px;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 5px solid white;
    background: linear-gradient(to top, white, black);  
    padding-bottom: 1px;
  }
  
  .upload-post-modal {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
  }

  .posts-page .post-image {
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-color: white;
  }