.upload-post-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%; 
    height: 75%; 
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
    border-radius: 5%;
  }
  
  .upload-modal-content {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%; 
    height: 50%; 
    max-width: 600px;
    max-height: 600px;
    text-align: center;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
    position: relative; 
  }

  .upload-modal-content-form {
    margin-top: 100px;
  }
  
  .upload-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 44px;
    color: red; 
  }
  
  .upload-close:hover {
    color: darkred;
  }
  