.navbar {
    background: linear-gradient(to right, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: grey;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
  }
  .nav-button-logout-image {
    width: 34px;
    height: auto;
    cursor: pointer;
  }
  
  .navbar-icon {
    padding-left: 100px;
    height: 50px; 
    margin-right: -250px; 
  }
  
  .nature-navbar {
    background-color: rgb(83, 121, 83); 
  }
  
  .gaming-navbar {
    background-color: rgb(70, 70, 140); 
  }
  
  .navbar.hidden {
    top: -60px; 
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    margin: auto;
  }
  
  .navbar-user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .user-link {
    color: inherit; 
    text-decoration: underline; 
    font-size: 16px; 
  }
  
  .user-link:hover {
    text-decoration: none; 
  }
  
  
  
  .nav-button-logout-image:hover {
    transform: scale(1.1); 
  }
  