.navbar {
    background: linear-gradient(to right, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: grey;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .nature-navbar {
    background-color: rgb(83, 121, 83); 
  }

  .navbar.hidden {
    top: -60px; 
  }

  .navbar-links {
    display: flex;
    align-items: center;
    margin: auto;
  }
  
  .navbar-user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .user-link {
    color: inherit; 
    text-decoration: underline; 
    font-size: 16px; 
  }
  
  .user-link:hover {
    text-decoration: none; 
  }
  
  .nav-button, .nav-buttonlogout {
    background-color: #007BFF; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
  }
  
  .nav-button:hover, .nav-buttonlogout:hover {
    background-color: white;
    color: black;
    border: 2px solid #007BFF;
  }
  