.custom-modal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 5%;
}

.modal-content {
  color: white;
  padding: 20px;
  border-radius: 5px;
  width: calc(75% - 40px); /* Adjust to match the width of the custom modal */
  height: calc(75% - 40px); /* Adjust to match the height of the custom modal */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto; /* Add this to handle overflow if content is too large */
}

.modal-content h2 {
  margin: 0;
  width: 100%;
  text-align: center; /* Ensure text is centered */
}

.modal-content ul {
  margin-top: 20px; /* Add margin to separate from h2 */
  padding-inline-start: 0;
  list-style: none;
  width: 100%;
  text-align: center; /* Ensure text is centered */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 40px;
  color: red;
}

.close:hover {
  color: darkred;
}

.CustomPostCard .comments-button {
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  padding: 0;
  font-size: inherit;
  margin-top: 10px; /* Optional: Add margin to separate from other elements */
}

.no-scroll {
  overflow: hidden;
}